<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        {% comment %} <title>全国各省及直辖市水质等级展示图</title> {% endcomment %}
 
        <style>
            #china-map {
                width: 1000px;
                height: 1000px;
                margin: auto;
            }
            #box{
	            display:none;
	            background-color: goldenrod;
	            width: 180px;
	            height: 30px;
            }
            #box-title{
	            display:block;
            }
        </style>
 
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/echarts.min.js"></script>
        <script type="text/javascript" src="../static/js/map/china.js"></script>
    </head>

    <body>
        {% comment %} <div style="text-align:center;clear:both;">
            <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
            <script src="/follow.js" type="text/javascript"></script>
        </div> {% endcomment %}

        {% comment %} <button id="back">返回全国</button> {% endcomment %}
    
        <div id="china-map"></div>
     
        <script>
            var myChart = echarts.init(document.getElementById('china-map'));
            {% comment %} var oBack = document.getElementById("back"); {% endcomment %}
            {% comment %} var provinces = ['shanghai', 'hebei', 'shanxi', 'neimenggu', 'liaoning', 'jilin', 'heilongjiang', 'jiangsu', 'zhejiang', 'anhui', 'fujian', 'jiangxi', 'shandong', 'henan', 'hubei', 'hunan', 'guangdong', 'guangxi', 'hainan', 'sichuan', 'guizhou', 'yunnan', 'xizang', 'shanxi1', 'gansu', 'qinghai', 'ningxia', 'xinjiang', 'beijing', 'tianjin', 'chongqing', 'xianggang', 'aomen']; {% endcomment %}
            {% comment %} var provincesText = ['上海', '河北', '山西', '内蒙古', '辽宁', '吉林', '黑龙江', '江苏', '浙江', '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广东', '广西', '海南', '四川', '贵州', '云南', '西藏', '陕西', '甘肃', '青海', '宁夏', '新疆', '北京', '天津', '重庆', '香港', '澳门']; {% endcomment %}
            var lists = {{ datas|safe }};
            var seriesData = lists;
            
            {% comment %} var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];
                    if (geoCoord) {
                        res.push({
                            name: data[i].name,
                            value: geoCoord.concat(data[i].value)
                        });
                    }
                }
                return res;
            }; {% endcomment %}
     
            {% comment %} oBack.onclick = function () {
                initEcharts("china", "中国");
            }; {% endcomment %}
     
            initEcharts("china", "全国各省及直辖市水质等级展示");
     
            // 初始化echarts
            function initEcharts(pName, Chinese_) {
                var tmpSeriesData = pName === "china" ? seriesData : [];
     
     
                var option = {
                    title: {
                        text: Chinese_ || pName,
                        left: 'center'
                    },
     
                    tooltip: {
                        trigger: 'item',
                        formatter: '{b}<br/1>等级{c}'
                    },
     
                    visualMap: {
                        type: 'piecewise',
                        pieces: [
                            {min: 5, max: 5, label: '差', color: '#372a28'},
                            {min: 4, max: 4, label: '良差', color: '#4e160f'},
                            {min: 3, max: 3, label: '良', color: '#974236'},
                            {min: 2, max: 2, label: '良优', color: '#ee7263'},
                            {min: 1, max: 1, label: '优', color: '#f5bba7'},
                        ],
                        color: ['#E0022B', '#E09107', '#A3E00B'],
                        left:"10%",                              //组件离容器左侧的距离,'left', 'center', 'right','20%'
                        top:"auto",                                   //组件离容器上侧的距离,'top', 'middle', 'bottom','20%'
                        right:"20%",                               //组件离容器右侧的距离,'20%'
                        bottom:"35%",                              //组件离容器下侧的距离,'20%'
                        orient:"vertical",                        //图例排列方向
                        padding:5,
                    },

                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        left: 'right',
                        top: 'center',
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: true },
                            //restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
              
                    roamController: {
                        show: true,
                        left: 'left',
                        mapTypeControl: {
                            'china': true
                        }
                    },

                    series: [
                    {
                        name: Chinese_ || pName,
                        type: 'map',
                        mapType: pName,
                        roam: false,//是否开启鼠标缩放和平移漫游
                        data: tmpSeriesData,
                        top: "3%",//组件距离容器的距离
                        zoom:1.1,
                        selectedMode : 'single',
     
                        label: {
                            normal: {
                                show: true,//显示省份标签
                                textStyle:{color:"#fbfdfe"}//省份标签字体颜色
                            },
                            emphasis: {//对应的鼠标悬浮效果
                                show: true,
                                textStyle:{color:"#323232"}
                            }
                        },

                        itemStyle: {
                            normal: {
                                borderWidth: .5,//区域边框宽度
                                borderColor:'#4ea397' ,//区域边框颜色
                                areaColor:'skyblue',//区域颜色
                            },
     
                            emphasis: {
                                borderWidth: .5,
                                borderColor: '#4b0082',
                                areaColor:"#ece39e",
                            }
                        },
                    }
                    ]
                };
     
                myChart.setOption(option);
                myChart.off("click");
     
                //if (pName === "china") { // 全国时，添加click 进入省级
                //    myChart.on('click', function (param) {
                //        console.log(param.name);
                //        // 遍历取到provincesText 中的下标  去拿到对应的省js
                //        for (var i = 0; i < provincesText.length; i++) {
                //           if (param.name === provincesText[i]) {
                //                //显示对应省份的方法
                //                showProvince(provinces[i], provincesText[i]);
                //                break;
                //            }
                //        }
                //        if (param.componentType === 'series') {
                //            var provinceName =param.name;
                //            $('#box').css('display','block');
                //            $("#box-title").html(provinceName);
                //        }
                //    });
                //}  
                //else { // 省份，添加双击 回退到全国
                //    myChart.on("dblclick", function () {
                //    initEcharts("china", "中国");
                //    });
                //}
            }
     
            // 展示对应的省
            {% comment %} function showProvince(pName, Chinese_) {
                if(Chinese_){
                    //这写省份的js都是通过在线构建工具生成的，保存在本地，需要时加载使用即可，最好不要一开始全部直接引入。
                    loadBdScript('$' + pName + 'JS', '/static/js/map/province/' + pName + '.js', function () {
                        initEcharts(Chinese_);
                    });
                }
            } {% endcomment %}
     
            // 加载对应的JS
            function loadBdScript(scriptId, url, callback) {
                var script = document.createElement("script");
                script.type = "text/javascript";
                if (script.readyState) {  //IE
                    script.onreadystatechange = function () {
                        if (script.readyState === "loaded" || script.readyState === "complete") {
                            script.onreadystatechange = null;
                            callback();
                        }
                    };
                } else {  // Others
                    script.onload = function () {
                        callback();
                    };
                }
                script.src = url;
                script.id = scriptId;
                document.getElementsByTagName("head")[0].appendChild(script);
            };
        </script>
    </body>
</html>